<header>
  <div>
    <nav>
      <ul>
        <li><a href="./auth/login">Log in</a></li>
        <li><a href="./auth/signup">Sign up</a></li>
        <li><a href="./portfolio">Portfolio</a></li>
      </ul>
    </nav>
  </div>
</header>