<h1>Manage your portfolio!</h1>
<form action="./portfolio" method="POST">
  <label for="">Select Your Coin
    <select name="coin" id="coinname" onChange="update()">
      <ul>{{#each coinname}}
          <option value={{this.coinprice}}>{{this.coinname}}</option>
        {{/each}}
      </ul>
    </select>
  </label>
  <br />
  <label>
    Current Price
    <input type="text" name="currentPrice" id="current-price" readonly />
  </label>
  <br />
  <label>
    Crypto Amount
    <input
      placeholder="Please fill in the amount"
      type="number"
      name="amount"
      id="total-amount"
      step=".01"
      onchange="totalValue()"
    />
  </label>
  <br />
  <label>
    <label>
      Total Value
      <input type="text" name="totalvalue" id="total-value" readonly />
    </label>
    <br />
    <label for="">
      <input type="submit" value="Submit" />
    </label>
  </label>

  <h2>Your portfolio</h2>
  <label for="./portfolio" method="GET">
    <ul id="dynamic-list"></ul>
    Coin
    <input type="text" name="newcoin" id="new-coin" />
  </label>
  <br />
  <label>
    Current Price
    <input type="text" name="pricenow" id="price-now" />
  </label>
  <br />
  <label>
    Amount
    <input type="text" name="amountnow" id="amount-now" />
  </label>
</form>