<h1>Manage your portfolio!</h1>
<form action="./portfolio" method="POST">
  <label>
    Coin
    <select name="coins" id="portfolio">
      <optionvalue=""></option>
    </select>
  </label>
  <br>
  <label>
    Current Price
<input type="text" name="currentPrice" id="current-price">
    </select>
  </label>
  <br>
  <label>
    Amount
    <input
      placeholder="Please fill in the amount"
      type="text"
      name="amount"
      id="current-price"
    />
  </label>

<h2>Your portfolio</h2>
  <label for="./portfolio" method ="GET">
  <ul id="dynamic-list"></ul>
  <input type="text" name="newcoin" id="new-coin">
  </label>
  <br>
  <label>
    Current Price
    <input type="text" name="pricenow" id="price-now">
  </label>
  <br>
  <label>
    Amount
    <input type="text" name="amountnow" id="amount-now">
  </label>
</form>