<nav>
  <div class="logo">
     <h4 class="title-header"><a href="/" >BLOCKCHAINERINO</h4></a>
  </div>
  <ul class="nav-links">
    <li><a href="./auth/signup">Sign Up</a></li>
    <li><a href="./auth/login">Log In</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<section class="portfolio-section">
<h1 id="portfolio-header">Manage your portfolio!</h1>
<form action="./portfolio" method="POST">
  <label class="title-portfolio">Select Your Coin
    <select name="coin" id="coinname" onChange="update()">
      {{#each coinname}}
          <option  
            name="coin"
            value={{this.coinname}}
            data-coinvalue="{{this.coinprice}}"
          >{{this.coinname}}</option>
        {{/each}}
      
    </select>
  </label>
  <br />
  <label class="title-portfolio">
    Current Price
    <input type="text" name="currentPrice" id="current-price" readonly />
  </label>
  <br />
  <label class="title-portfolio">
    Crypto Amount
    <input
      placeholder="Please fill in the amount"
      type="number"
      name="amount"
      id="total-amount"
      step=".01"
      onchange="totalValue()"
    />
  </label>
  <br />
  <label class="title-portfolio">
    Total Value
    <input type="text" name="totalvalue" id="total-value" readonly />
  </label>
  <br />
  <label>
    <input id="submit-portfolio" type="submit" value="Submit" />
  </label>
</form>
</section>
<section class="your-portfolio" onclick="hidePortfolio()">
  <h2>Your portfolio</h2>
  <label action="./portfolio" method="GET"></label>
<table id="table">
    <thead>
    <tr class="tr">
        <th>Coin</th>
        <th>Price</th>
        <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <tr id="tr-one">
        <td class="name-c">Monte Falco</td>
        <td>1658</td>
        <td class="amount-c">Parco Foreste Casentinesi</td>
    </tr>
    <tr id="tr-two">
        <td class="name-c">Monte Falterona</td>
        <td>1654</td>
        <td class="amount-c">Parco Foreste Casentinesi</td>
    </tr>
    <tr id="tr-three">
        <td class="name-c">Monte Falterona</td>
        <td>1654</td>
        <td class="amount-c">Parco Foreste Casentinesi</td>
    </tr>
    </tbody>
</table>
  <label>
    <input id="submit-myportfolio" type="submit" value="Show My Portfolio" />
  </label>
</section>

<script src="/js/handlePortfolio.js"></script>