<nav>
  <div class="logo">
     <h4 class="title-header"><a href="/">BLOCKCHAINERINO</h4></a>
  </div>
  <ul class="nav-links">
    <li><a href="./signup">Sign up</a></li>
    <li><a href="./login">Log in</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<h1>Log In</h1>
<form action="/auth/login" method="POST">
  <label>
    Username
    <input type="text" name="username" />
  </label>
  <label>
    Password
    <input type="password" name="password" />
  </label>

  <button type="submit">Submit</button>
</form>