<nav>
  <div class="logo">
     <h4 class="title-header"><a href="/">BLOCKCHAINERINO</h4></a>
  </div>
  <ul class="nav-links">
    <li><a href="./signup">Sign up</a></li>
    <li><a href="./login">Log in</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
  </ul>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>
</nav>
<h1 class="sign-up" id="signup-header">Sign up</h1>
<form class="sign-up" id="signup-form" action="/auth/signup" method="POST">
  <label>
    Username
    <br>
    <input id="label-username" type="text" name="username" />
  </label>
  <br />
  <label>
    Password
    <br>
    <input id="label-password" type="password" name="password" />
  </label>
  <br />
  <button type="submit">Submit</button>
</form>